body {
    margin: 0;
    background: #6943FF;
    /* max-width: 550px; */
    max-height: 529px;
    min-height: 529px;
    display: flex;
    justify-content: center;
}



h1 {
    width: 448.4px;
    height: 38px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 51px;
}

input[type="text"] {
    width: 117px;
    height: 83px;
    box-sizing: border-box;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin-left: 217px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    text-align: center;
    background: #6943FF;
    color: #FFFFFF;
}

#convert-btn {
    width: 117px;
    height: 42px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: solid white 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3D3D3D;
    margin-left: 217px;
    margin-top: 25px;
    margin-bottom: 34px;
}

#light-mode {
    width: 550px;
    height: 529px;
    background: #F4F4F4;
    padding-top: 36px;
}

.group {
    width: 500px;
    height: 108.57px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    margin-left: 25px;
    padding-top: 31px;
    margin-bottom: 23.43px;
}

h2 {
    width: 346px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #5A537B;
    text-align: center;
    margin-left: 77px;
}

p {
    width: 346px;
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #353535;
    margin-left: 77px;
}